*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #ffbe00;
    padding-top: 50px;
    text-align: center;
}

table{
    border-color: #313131;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th{
    color: #313131;
}

.button{
    text-align: center;
    margin-top: 50px;
}

#btnPay{
    margin: auto;
    background-color: #313131;
    border: #313131;
    color: #ffbe00;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}

.btnPay:hover{
    text-decoration: none;
}