body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    left: 0;
    right: 0;
    padding: 0;
    background-color: #f5f5f5;

}

#form{
    position: relative;
    text-indent: 60px;
    border-radius: 5px;
    float: left;
    left: 50px;
    top: 20px;
    width: 960px;
    height: 600px;
    background-color: #949494;
}

h1{
    color: #000;
    text-indent: 20px;
}

input[type="submit"]{
    border: none;
    border-radius: 5px;
    background-color: #ffbe00;
    color: black;
    width: 80px;
    height: 40px;
    cursor: pointer;
    
}

input[type="submit"]:hover{
    background-color: black;
    color: #ffbe00;
}


input[type=text]{
    border: none;
    border-radius: 4px;
    width: 30%;
    height: 7vh;
}

input[type=text]:focus {
    background-color: lightblue;
    border: none;
  }

input[type=email]{
    border: 1px solid white;
    border-radius: 4px;
    height: 20px;
    width: 30%;
    height: 7vh;
}

input[type=email]:focus {
    background-color: lightblue;
    border: none;
  }

input[type=password]{
    border: 1px solid white;
    border-radius: 4px;
    width: 30%;
    height: 7vh;
}

input[type=password]:focus {
    background-color: lightblue;
    border: none;
  }

input[type=number]{
    border: 1px solid white;
    border-radius: 4px;
    width: 30%;
    height: 7vh;

}

input[type=number]:focus {
    background-color: lightblue;
    border: none;
  }

/* #passRecomendacao{
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    width: 450px;
    left: 500px;
    font-size: 12px;
} */





